body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1E3A5F;
    color: #fff;
    padding: 0; 
    height: 100vh;    
}

.container {
    display: flex;
    width: 100%;
}
.sidebar {
    width: 250px;
    background: #2A4A73;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid white;
    flex-shrink: 0; 
    height: 100vh;
}
.sidebar .logo {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar .logo img {
    width: 100px;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.sidebar .profile img {
    border-radius: 20%;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}
.sidebar .profile-role {
    font-size: 14px;
    color: #bbb;
}
.menu {
    margin-top: 20px;
}
.menu .menu-item {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.menu .active {
    background:#0066CC;
}

.menu-item:hover {
    background: #0066CC;
    border-radius: 10px;
}
.main-content {
    flex: 1;
    padding: 20px;
    background:#1E3A5F;
}
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.events {
    display: flex;
    flex-wrap:nowrap;
    gap: 20px;
}
.event-box {
    background: #2A4A73;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    border: 2px solid #ffff;
}
.schedule-form {
    margin-top: 20px;
}
.schedule-form {
    background: #2A4A73;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid #ffff;
}

.schedule-form input,
.schedule-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.schedule-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1E3A5F;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    
}
.schedule-form button:hover {
    background: #0066cc;
}
#logout-button {
    background: #2A4A73;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
}
#logout-button:hover{
    background:#0066cc;
}