body {
    font-family: Arial, sans-serif;
    display: flex;
    background: white;
    color: black;
}

aside {
    width: 250px;
    background: rgb(87, 115, 240);
    padding: 20px;
    color: white;
}

main {
    flex-grow: 1;
    padding: 20px;
    background: white;
    color: black;
}
